// @media screen and (max-width: 921px) {
//     .app-container {
//         margin: 0 16px;
//     }
// }

// @media (min-width: 922px) and (max-width: 1199px ) { 
//     .app-container {
//         margin: 0 16px;
//     }
// }

// @media screen and (max-width: 1919px) { 
    .app-container {
        margin: 0 16px;
    }
// }


.weather-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.errorMessage {
    color: red;
}

.location-data {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.location {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
