<!-- <div class="geolocation-container">
    <div class="geolocation-modal" [ngClass]="{'geolocation-on': isGeoLocation, 'geolocation-off': !isGeoLocation }" >
        <p>Would you like to use geolocation to check weather in your region?</p>
        <div class="geolocation-modal-buttons">
            <button class="btn no" type="button" (click)="closeGeolocationModal()">No</button>
            <button class="btn yes" type="button" (click)="setLocation()">Yes</button>
        </div>
    </div>
</div> -->
