@mixin weather-details {
    display: flex;
    margin: 1px 2px;
    font-weight: 200;
    justify-content: space-between;
    border-bottom: 0.5px solid #d1d1d1;

    & > span:nth-child(2) {
        font-weight: 300;
    }
}

@mixin weather-card {
    width: 95vw;
    padding: 16px;
    margin: 0 0 16px 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 921px) {
    .weather-container {
        @include weather-card;
    }
}

@media (min-width: 922px) and (max-width: 1919px) {
    .weather-container {
        @include weather-card;

        .weather-card {
            display: flex;
        }

        .date-container {
            width: auto;
            display: flex;
            justify-content: flex-start;

            .date-item {
                margin-right: 8px;
            }

            .date-item:first-child {
                display: none;
            }
        }

        .weather-card-ico {
            display: flex;
            align-items: flex-start;
        }

        .temperature-value {
            margin: 0 32px;
        }
    }
}

.weather-container {
    width: 100%;
    // background-color: red;
}

.detail {
    display: flex;
    align-items: center;
    height: 30px;
}

.weather-card {
    // width: 240px;
    // width: 100vw;
    // margin: 8px;
    // padding: 12px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // color: #fff;
    // border-radius: 5px;
    // background: rgb(2,0,36);
    // background: linear-gradient( 
    //     0deg,
    //     rgba(2,0,36,1) 0%, 
    //     rgb(42,42,147) 0%, 
    //     rgba(0,126,255,1) 100%);
    // font-family: 'Roboto', sans-serif;
}

.date-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
}

.weather-card-ico {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.weather-description {
    font-weight: 200;
    font-size: 0.9rem;
}

.temperature-value {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 2.6rem;
}

.weather-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.feels-like-temperature-value {
   @include weather-details;
}
.pressure-value {
   @include weather-details;
}

.humidity-value {
   @include weather-details;
}

.wind-value {
    @include weather-details;
}