<div *ngIf="isWeather; then weather else forecast"></div>
<ng-template #weather>
    <div class="weather-container">
        <div class="weather-card">
            <div class="date-container">
                <div class="date-item">
                    {{ convertToDate(item?.dt) | date: 'LLL dd' }}
                </div>
                <div class="date-item">
                    {{ convertToDate(item?.dt) | date: 'EEEE' }}
                </div>
                <div class="date-item">
                    {{ convertToDate(item?.dt) | date: 'H:mm' }}
                </div>
            </div>
            <div class="weather-card-ico" *ngFor="let weather of item?.weather">
                <div class="weather-ico">
                    <app-weather-icon [weather]="weather.main" [weatherIcon]="weather.icon"></app-weather-icon>
                </div>
                <div class="weather-description">
                    {{ weather.description | titlecase }}
                </div>
            </div>
            <div class="temperature-value">{{ item?.main.temp | number: '1.0-1' }}&deg;C</div>
            <div class="weather-details">
                <div class="feels-like-temperature-value detail">
                    <span>Feels like </span>
                    <span>{{ item?.main.feels_like }}&deg;C</span>
                </div>
                <div class="pressure-value detail">
                    <span>Pressure </span>
                    <span>{{ item?.main.pressure }} &#13169;</span>
                </div>
                <div class="humidity-value detail">
                    <span>Humidity </span>
                    <span>{{ item?.main.humidity }}%</span>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #forecast>
    <div class="weather-container">
        <div class="weather-card">
            <div class="date-container">
                {{item.list.dt_txt}}
                <div class="date-item">
                    {{ item.dt_txt | date: 'LLL' }}
                    {{ item.dt_txt | date: 'd' }},
                </div>
                <div class="date-item">
                    {{ item.dt_txt | date: 'EEEE' }}
                </div>
                <div class="date-item">
                    {{ item.dt_txt | date: 'H:mm' }}
                </div>
            </div>
            <div class="weather-card-ico" *ngFor="let weather of item.weather">
                <div class="weather-ico">
                    <app-weather-icon [weather]="weather.main" [weatherIcon]="weather.icon"></app-weather-icon>
                </div>
                <div class="weather-description">
                    {{ weather.description | titlecase }}
                </div>
            </div>
            <div class="temperature-value">{{ item.main.temp | number: '1.0-1' }}&deg;C</div>
            <div class="weather-details">
                <div class="feels-like-temperature-value">
                    <span>Feels like </span>
                    <span>{{ item.main.feels_like }}&deg;C</span>
                </div>
                <div class="pressure-value">
                    <span>Pressure </span>
                    <span>{{ item.main.pressure }} &#13169;</span>
                </div>
                <div class="humidity-value">
                    <span>Humidity </span>
                    <span>{{ item.main.humidity }}%</span>
                </div>
            </div>
        </div>
    </div>
</ng-template>
