@mixin weather-details {
    display: flex;
    margin: 1px 2px;
    font-weight: 200;
    justify-content: space-between;
    border-bottom: .5px solid #fff;

    & > span:nth-child(2) {
        font-weight: 300;
    }
}

@mixin weather-card {
    margin: 0 0 16px 0;
    background-color: #fff;
}

@media screen and (max-width: 921px) {
    .weather-container {
        @include weather-card;
    }
}

@media (min-width: 922px) and (max-width: 4096px) {
    .weather-container {
        @include weather-card;

        .weather-card {
            display: flex;
        }

        .date-container {
            width: auto;
            display: flex;
            justify-content: flex-start;

            .date-item {
                margin-right: 8px;
            }

            .date-item:first-child {
                display: none;
            }
        }

        .weather-card-ico {
            display: flex;
            align-items: flex-start;
        }

        .temperature-value {
            margin: 0 32px;
        }
    }
}

.weather-container {
    width: 100%;
}

.detail {
    display: flex;
    align-items: center;
    height: 30px;
}

.date-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
}

.date-item {
    color: #d1d1d1;
}

.weather-card-ico {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.weather-description {
    font-weight: 200;
    font-size: 0.9rem;
}

.temperature-value {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 2.6rem;
}

.weather-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.feels-like-temperature-value {
   @include weather-details;
}
.pressure-value {
   @include weather-details;
}

.humidity-value {
   @include weather-details;
}

.wind-value {
    @include weather-details;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .card-body {
    color: #fff;
  }
  
  .card-footer {
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }