
<div class="date-container">
    <div class="week-day-number">
        {{ item.dt_txt | date: 'd.M' }}
    </div>
    <div class="week-day-name">
        {{ item.dt_txt | date: 'EEEE' }}
    </div>
</div>

<div class="weather-container">
    <div class="weather-card">
        <div *ngFor="let weather of item.weather">
            {{ weather.main }}

            <app-weather-icon [weather]="weather.main" [weatherIcon]="weather.icon"></app-weather-icon>
            
        </div>
        <div>Temperature: {{ item.main.temp }}&deg;C</div>
        <div>Feels like: {{ item.main.feels_like }}&deg;C</div>
        <div>Temp. max: {{ item.main.temp_max }}&deg;C</div>
        <div>Temp. min: {{ item.main.temp_min }}&deg;C</div>
        <div>Pressure: {{ item.main.pressure }}&#13169;</div>
        <div>Humidity: {{ item.main.humidity }}%</div>
    </div>
</div>
