<div class="input-group input-group-sm mb-3">
    <input
        type="text"
        class="form-control search-bar"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="basic-addon2"
        [(ngModel)]="searchQuery"
        (keyup.enter)="onSearch()"
    >
    <div class="input-group-preppend">
        <button 
            class="btn btn-outline-light btn-search"
            type="button"
            (click)="onSearch()">
            Search
        </button>
    </div>
</div>