@mixin fontType {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

@media screen and (max-width: 921px) { }

@media (min-width: 922px) and (max-width: 4096px) { }

.search-bar {
    @include fontType;
}

.btn-search {
    @include fontType;
    border-radius: 0 6px 6px 0;
}
